<div id="formEditorContainer">
    <div class="formFormulaContainer">
        <div class="formFormulaName">Nombre:</div>
        <input id="formName" type="text" class="formFormula" value="{{name}}">
    </div>
    <div class="formFormulaContainer">
        <div class="formFormulaName">on Load:</div>
        <textarea id="formBeforeLoadFormula" class="formFormula">{{beforeLoad}}</textarea>
    </div>
    <div class="formFormulaContainer">
        <div class="formFormulaName">global before:</div>
        <textarea id="formBeforeGlobalFormula" class="formFormula">{{before}}</textarea>
    </div>
    <div id="formQuestionContainer"></div>
    <div class="formFormulaContainer">
        <div class="formFormulaName">global after:</div>
        <textarea id="formAfterGlobalFormula" class="formFormula">{{after}}</textarea>
    </div>
    <div class="formFormulaContainer">
        <div class="formFormulaName">after Load:</div>
        <textarea id="formAfterLoadFormula" class="formFormula">{{afterLoad}}</textarea>
    </div>
</div>